@import 'media';
@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 10%;
    width: 100%;
    
    .header__top {
        height: 60%;
        width: 86%;
        text-align: center;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 15px;
        padding-bottom: 15px;

        .header__logo {
            display: inline-block;
            width: 33%;

            .header__the-shop {
                float: left;
                width: 25%;
            }

            .header__oggetto {
                width: 10%;
            }
        }

        .header__phone {
            width: 33%;
            display: inline-block;
            line-height: 30px;

            .header__number {
                color: #C90A10;
                margin: 0px; 
                padding: 0px;
                float: right;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

    .header__bottom {
        clear: both;
        background: #F1F2EC;
        height: 40%;
        width: 86%;
        float: left; 
        padding-left: 7%;
        padding-right: 7%;
        border-top: 1.5px solid #E1E2DE;
        border-bottom: 1.5px solid #E1E2DE; 

        .navigation {
            display: inline-block;
            float: left;

            .navigation__list {
                padding: 0px;

                .navigation__item {
                    display: inline-block;
                    padding-right: 13px;

                    .navigation__link {
                        color: #c40c00;
                    }
                }
            }        
        }

        .search {
            display: inline-block;
            float: right;
            position: relative;
            padding-top: 10px;

            .input {
                padding: 5px 37px 5px 15px;
                box-sizing: border-box;
            }

            .submit {
                position: absolute;
                top: 2px;
                right: 0;
                width: 37px;
                height: 100%;
                cursor: pointer;
                background: url("/img/icons/search.svg") 50% no-repeat;
                opacity: 0.5;
                border: 0px;
            }
        }
    }
}

.main {
    height: 100%;
    width: 100%;

    .breadcrumbs-container {
        text-align: left;
        width: 86%;
        padding-left: 7%;
        padding-right: 7%;

        .breadcrumbs {
            display: inline-block;

            .breadcrumbs__list {
                padding: 0px;
                margin-top: 28px;

                .breadcrumbs__item {
                    display: inline-block;

                    .breadcrumbs__link {
                        color: #c40c00;
                    }
                }

                .breadcrumbs__separator {
                    display: inline-block;                    
                }
            }
        }
    }

    .product {
        height: 100%;
        width: 86%;
        padding-left: 7%;
        padding-right: 7%;

        .product__image-container {
            float: left;
            height: 50%;
            width: 50%;
            padding-bottom: 110px;

            .product__image {
                height: 100%;
                width: 100%;
            }
        }

        .product__details {
            float: right;
            height: 50%;
            width: 45%;

            .product__name-container {

                .product__name {
                    margin-top: 0px; 
                }

                .product__composition {

                }
            }

            .product__price-container {

                .product__price{
                    font-size: 2em;
                    color: #c40c00;
                    font-weight: bold;
                }
            }

                .size {

                    .size__list {
                        list-style-type: none;
                        padding: 0px;
                        
                        .size__item {
                            display: inline-block;
                            border: 1px solid black;
                            margin-right: 5px;
                            font-size: 2em;
                        } 

                        .size__item_s {
                            padding: 8px 17px 8px 17px;
                        }

                        .size__item_m {
                            padding: 8px 14px 8px 14px;
                            border: 2px solid #c40c00;  
                        }

                        .size__item_l {
                            padding: 8px 18px 8px 18px;                                
                        }                
                    }
                }

                .color {

                    .color__list {
                        list-style-type: none;
                        padding: 0px;
                        
                        .color__item {
                            display: inline-block;
                            border: 1px solid black;
                            padding: 27px;
                            margin-right: 5px;
                            font-size: 2em;
                        }                 

                        .color__item_white {
                            border: 2px solid #c40c00;
                        }

                        .color__item_yellow {
                            background-color: #E2DA53;
                        }

                        .color__item_green {
                            background-color: #A5AF96;
                        }
                    }
                }

            .button__buy {
                background-color: #ce0000;
                color: white;
                border: 0px;
                padding: 20px 45px;
                font-size: 1.7em;
                margin-top: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                font-family: 'Roboto', sans-serif;
            }


            .product__later-container {

                .product__later {
                    color: #d2d2d2;
                    padding-left: 10px;
                    font-size: 0.9em;
                }

                .product__heart {
                    vertical-align: middle;
                }
            }
        }
    }
}

.footer {
    height: 30%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: #F1F2EC;
    clear: both;

    .footer__top {
        height: 60%;
        width: 93%;
        background: #F1F2EC;
        padding-top: 30px;
        padding-left: 7%;
        padding-bottom: 35px;
        border-top: 1.5px solid #E1E2DE;
        margin: 0 auto;

        .footer__links {
            width: 60%;
            float: left;

            .footer__column {
                display: inline-block;

                .footer__service {
                    list-style-type: none;
                    display: inline-block;
                    padding-left: 0px;
                    margin-top: 0px;
                    margin-right: 40px;
                    vertical-align: top;

                    li {
                        padding-bottom: 10px;
                    }
                }

                .footer__about {
                    list-style-type: none;
                    display: inline-block;
                    padding-left: 0px;
                    margin-top: 0px;
                    margin-right: 40px;
                    vertical-align: top;

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .footer__else {            
            width: 40%;
            float: right;

            .footer__delivery {
                margin-bottom: 23px;
            }

            .footer__samples {
                margin-bottom: 23px;
            }

            .footer__preferences {
                width: 70%;
                float: left;
                padding-top: 8px;
                padding-right: 0px;

                span {
                    padding-left: 6px;
                }

                .footer__img{
                    display: inline-block;
                    vertical-align: middle;
                }

                .footer__img_delivery {
                    width: 9%;
                }

                .footer__img_samples {
                    width: 5.5%;
                    padding-left: 15px;
                }

                .footer__img_bonus {
                    width: 5.5%;
                    padding-left: 15px;
                }

                .footer__text {
                    display: inline-block;
                }
            }

            .footer__social {
                float: right;
                width: 30%;

                .footer__social__facebook {
                    width: 8%;
                    display: block;
                    margin: 20px;
                    padding-left: 5px;
                }

                .footer__social__twitter{
                    width: 14%;
                    display: block;
                    margin: 20px;
                }

                .footer__social__instagram {
                    width: 14%;
                    display: block;
                    margin: 20px;
                }
            }
        } 
    }

    .footer__bottom {
        height: 40%;
        width: 86%;
        clear: both;
        background: #F1F2EC;
        padding-bottom: 7%;
        padding-top: 25px;
        border-top: 1.5px solid #E1E2DE; 
        margin: 0 auto;
    }
}


.footer_reference {
    text-decoration: none;
    color: black;
}






//media
/*
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background: red; // red on small devices

    @media @tablet {
        background: green; // green on medium devices
    }

    @media @desktop {
        background: blue; // blue on large devices
    }

    &__item {
        display: inline-block;
        list-style-type: none;
    }

    &__link {
        color: #FFF;
    }

    // Bottom Menu
    &_bottom { // BEM modifier example
        background: green;
    }

    &_bottom &__link {
        color: #f00;
    }
}
*/